@model KRS_G54.Models.Account
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h1>Edit User</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-lg-12" style="display:none">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6" style="display:none">
                <label asp-for="AccountId" class="control-label"></label>
                <input asp-for="AccountId" class="form-control" readonly />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="RoleId" class="control-label"></label>
                    <select asp-for="RoleId" class="form-control" asp-items="@ViewBag.RoleSelectList"></select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label">Status</label>
                    <br />
                    <div class="custom-control custom-switch" style="margin-top:6px">
                        <input type="checkbox" class="custom-control-input" id="toggleStatus" name="Status" value="true" @(Model.Status ? "checked" : "") />
                        <label class="custom-control-label" for="toggleStatus" id="toggleLabel">@(Model.Status ? "Activate" : "Deactivate")</label>
                    </div>
                    <input type="hidden" name="Status" value="false" /> 
                </div>
            </div>

            <div class="form-group col-lg-12" style="padding-left:0px">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(Model => Model.Description, new {@id = "description",
                @class = "form-control"})
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.ActionLink("Back to List", "ListUser",new {}, new {@class = "btn btn-outline-primary text-black mr-2"})
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

