@model KRS_G54.Models.Class
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<h1>Edit Class</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-lg-12" style="display:none">
                <label asp-for="ClassId" class="control-label"></label>
                <input asp-for="ClassId" class="form-control" readonly />
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="form-group col-lg-6" >
                    <label asp-for="ClassName" class="control-label"></label>
                    <input asp-for="ClassName" class="form-control" />
                    <span asp-validation-for="ClassName" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="Semester" class="control-label"></label>
                    <select asp-for="SemesterId" class="form-control" asp-items="@ViewBag.SemesterSelectList">
                    </select>
                    <span asp-validation-for="SemesterId" class="text-danger"></span>
                </div>
            </div>
           <div class="row">
                <div class="form-group col-lg-6">
                    <label asp-for="Subject" class="control-label"></label>
                    <select asp-for="SubjectId" class="form-control" asp-items="@ViewBag.SubjectSelectList">
                    </select>
                    <span asp-validation-for="SubjectId" class="text-danger"></span>
                </div>

                <div class="form-group col-lg-6">
                    <label class="control-label">Status</label>
                    <br />
                    <div class="custom-control custom-switch" style="margin-top:6px">
                        <input type="checkbox" class="custom-control-input" id="toggleStatus" name="Status" value="true" @(Model.Status.GetValueOrDefault() ? "checked" : "") />
                        <label class="custom-control-label" for="toggleStatus" id="toggleLabel">@(Model.Status.GetValueOrDefault() ? "Activate" : "Deactivate")</label>
                    </div>
                    <input type="hidden" name="Status" value="false" />
                </div>
               @* <div class="form-group col-lg-6">
                    <label asp-for="Capacity" class="control-label"></label>
                    <input asp-for="Capacity" class="form-control" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>*@
              @*  <div class="form-group col-lg-6">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <select asp-for="CreatedBy" class="form-control" asp-items="@ViewBag.AccountSelectList">
                    </select>
                </div>*@
           </div>
          
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(Model => Model.Description, new {@id = "description",
                @class = "form-control"})
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.ActionLink("Back to List", "Index",new {}, new {@class = "btn btn-outline-primary text-black mr-2"})
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

